* {
    user-select: none;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--background);
    overflow: hidden;
}

:root {
    --background: #e1b12c;
    --background-canvas: #00a8ff;
    --background-result: #fc5c65;
    --background-error: #e84118;
    --color-text: #f5f6fa;
}

.workspace {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.workspace__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-size: 72px;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.workspace__canvas {
    background-color: var(--background-canvas);
}

.workspace__result {
    background-color: var(--background-result);
}

.workspace__canvas_hidden {
    transform: translateX(-100%);
}

.workspace__result_hidden {
    transform: translateX(100%);
}

.tooltip {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 300ms;
    padding: 50px;
    text-align: center;
}

.tooltip_hidden {
    opacity: 0;
}

#canvas {
    z-index: 1;
    width: 50vw;
    height: 50vw;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 300ms;
}

.loader__spinner {
    width: 150px;
    height: 150px;
}

.loader__text {
    margin-top: 40px;
    color: var(--color-text);
    font-size: 28px;
}

.loader_hidden {
    opacity: 0;
}

#result {
    height: 100%;
    font-size: 70vh;
}

.demo {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 128px;
    height: 128px;
    background-color: black;

    transition: opacity 300ms;
}

.demo_hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

.error {
    position: absolute;
    z-index: 1001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-error);

    transition: opacity 300ms;
}

.error_hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

.error__title, .error__description {
    color: var(--color-text);
}

.error__title {
    font-size: 64px;
}

.error__description {
    margin-top: 20px;
    font-size: 18px;
}